<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>{% if category %}Изменить{% else %}Создать{% endif %} запись</title>
    {% load django_bootstrap5 %} {% bootstrap_css %}
  </head>
  <body class="container mt-5 w-50">
    <h2 class="mb-4">
      {% if category %}✏️ Редактирование: {{ category.name }}{% else %}✨
      Создание новой категории{% endif %}
    </h2>

    <form method="post" class="shadow p-4 bg-light rounded">
      {% csrf_token %} {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
      {% endif %}

      <div class="mb-3">
        <label for="name" class="form-label fw-bold">Название категории</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          value="{{ category.name|default_if_none:'' }}"
          required
        />
      </div>

      <div class="mt-4">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'custom_admin_dashboard' %}" class="btn btn-secondary"
          >Отмена</a
        >
      </div>
    </form>
  </body>
</html>
