<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>{% if product %}Изменить{% else %}Создать{% endif %} запись</title>
    {% load django_bootstrap5 %} {% bootstrap_css %}
  </head>
  <body class="container mt-5 w-50">
    <h2 class="mb-4">
      {% if product %}✏️ Редактирование: {{ product.name }}{% else %}✨ Создание
      нового продукта{% endif %}
    </h2>

    <form method="post" class="shadow p-4 bg-light rounded">
      {% csrf_token %} {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
      {% endif %}

      <div class="mb-3">
        <label for="name" class="form-label fw-bold">Название продукта</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          value="{{ product.name|default_if_none:'' }}"
          required
        />
      </div>

      <div class="mb-3">
        <label for="category_id" class="form-label fw-bold">Категория</label>
        <select
          name="category_id"
          id="category_id"
          class="form-select"
          required
        >
          <option value="">-- Выберите категорию --</option>
          {% for cat in categories %}
          <option
            value="{{ cat.id }}"
            {%
            if
            product
            and
            product.category.id=""
            ="cat.id"
            %}selected{%
            endif
            %}
          >
            {{ cat.name }}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="mt-4">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'custom_admin_dashboard' %}" class="btn btn-secondary"
          >Отмена</a
        >
      </div>
    </form>
  </body>
</html>
